html{
  scroll-behavior: smooth;
}
  
body{
  background-color: lightgray;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-size: 30px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  font-family: Sharp Grotesk,Liberation Sans Narrow,Franklin Gothic Demi Cond,Avenir Next Condensed,Arial Narrow,sans-serif-condensed,sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-stretch: condensed;
  letter-spacing: normal;
  font-size: 2.4rem;
}
  
h2, h3{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}

p{
  font-family: HK Grotesk,Helvetica Neue,sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
}

header {
  justify-content: center;
}

.active a{
  border: 2px solid white;
}

nav a{
  color: white;
  font-weight: bold;
  text-decoration: none; 
  font-family: Sharp Grotesk,Liberation Sans Narrow,Franklin Gothic Demi Cond,Avenir Next Condensed,Arial Narrow,sans-serif-condensed,sans-serif;
  text-transform: uppercase;
} 

li{
  padding: 5px;
}
@media screen and (min-width: 481px){
  nav ul{
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }
  nav{
    text-align: center;
  }
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
  
nav{
  background-color: navy;
  padding: 25px 0; 
  margin:auto;
  text-align: center;
}
  
footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}
  /* Selector/rule property to add an underline when links in the navigation are in the hover or focus state.*/
  nav a:hover, nav a:focus{
    text-decoration: underline;
  }
  

  /* Selector/rule property to position the default position for the skip class element*/
  .skip a{
    position: absolute;
    top: -40px;
  }
  
  /* Selector/rule property to position the skip class element when it is in focus*/
  .skip a:focus{
    top: 20px;
  }
  
  /* Selector/rule property to style all elements when in focus*/
  :focus{
    border: 2px solid;
  } 

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 20px;
  width: 100%;
}

.text-block > h2{
  padding: 30px;
  line-height: 1;
}

img{
  width: 100%;
  height: 100%;
}
.hidden{
  display: none;
}
.gridcontain{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
  }

/*Styling for Tablet for Restaurant Page*/
@media screen and (min-width: 600px){
  .gridcontain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
  }
  .text-block{
    text-align:left;
    width:100%;
    grid-column: 2 / -1;
  }
}

/*styling for Laptops and Desktops*/
@media screen and (min-width: 1200px){
  /* Write selector/rule property to style the container */
  .gridcontain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .text-block{
    text-align:left;
    width:fit-content;
  }
  .zing, .earle, .taste, .afternoon, .fritas{
    grid-column: 2 / span 1; 
  }
  .rice, .aventura, .zola, .avalon{
    grid-column:  4/ span 1; 
  }
  
  .zing{grid-row-start: 1; grid-row-end: 2}
  .rice{grid-row: 1;}
  .earle{grid-row: 2;}
  .aventura{grid-row: 2;}
  .taste{grid-row: 3;}
  .zola{grid-row: 3;}
  .afternoon{grid-row: 4;}
  .avalon{grid-row: 4;}
  .fritas{grid-row: 5;}
  
  .zing-image{grid-row-start: 1; grid-row-end: 2}
  .rice-image{grid-row: 1;}
  .earle-image{grid-row: 2;}
  .aventura-image{grid-row: 2;}
  .taste-image{grid-row: 3;}
  .zola-image{grid-row: 3;}
  .afternoon-image{grid-row: 4;}
  .avalon-image{grid-row: 4;}
  .fritas-image{grid-row: 5;}
    
  .zing-image, .rice-image, .earle-image, .aventura-image, .taste-image, .zola-image, .afternoon-image, .avalon-image, .fritas-image{
    height: 400px;
    overflow: hidden;
  }  
  
  .zing-image, .earle-image, .taste-image, .afternoon-image, .fritas-image{
    grid-column: 1;
  }  
} 


.container{
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.card > header {
  background: whitesmoke;    
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 150px;
}

.card > p {
  background: whitesmoke;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
}

#spotify{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@media screen and (min-width: 481px){
  .container{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .card{
    width: 500px;
    margin: 20px
  }
  .card > img{
    height: 450px;
  }
  .card > p{
    height: 150px;
    text-align: center;
    align-items: center;
    padding: auto;
    overflow: auto;
  }
  .card > img{
    border-left: 3px solid black;
    border-right: 3px solid black;
    width: 494px;
  }
}

@media screen and (min-width: 1200px){
  .card > header {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .card > p {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.about{
  background-color: rgba(255, 255, 255, .8);
  font-size: 20px;
  text-align: center;
  overflow: auto;
}

@media screen and (min-width: 700px){
  .indexcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    justify-content: center;
    align-content: center;
  }
  .headshot{
    grid-column: 3;
  }
  .about{
    grid-column: 2 / span 3;
    grid-row: 2;
    margin: 2px;
    border: 3px solid black;
  }
  .about > h2{
    padding: 5px;
  }
}
@media screen and (min-width: 1200px){
  .indexcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
  }
  .headshot{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3
  }
  .about{
    grid-column: 3 / span 4;
    grid-row: 2;
    border: none;
    max-height: 200px;
  }
  .about > h2{
    padding: 5px;
  }
}